@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500&display=swap');

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Open Sans', sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

body .notification-container {
  width: 430px;
}

.fade-enter{
   opacity: 0;
}
.fade-exit{
   opacity: 1;
}
.fade-enter-active{
   opacity: 1;
}
.fade-exit-active{
   opacity: 0;
}
.fade-enter-active,
.fade-exit-active{
   transition: opacity 200ms;
}


.slideDown-enter {
  opacity: 0;
  transform: translateY(-10px);
}

.slideDown-enter.slideDown-enter-active {
  opacity: 1;
  transform: translateY(0px);
  transition: opacity 800ms ease-in, transform 1000ms ease-out;
}

.slideDown-appear {
  opacity: 0;
  transform: translateY(-10px);
}

.slideDown-appear.slideDown-appear-active {
  opacity: 1;
  transform: translateY(0px);
  transition: opacity 800ms ease-in, transform 1000ms ease-out;
}

.slideDown-exit {
  opacity: 1;
  transform: translateY(0px);
}

.slideDown-exit.slideDown-exit-active {
  opacity: 0;
  transform: translateY(-10px);
  transition: opacity 800ms ease-in, transform 1000ms ease-out;
}

.slideDown-exit-done {
  opacity: 0;
  transform: translateY(-10px);
}

.slideRight-enter{
   opacity: 0;
   transform: translateX(-10px);
}
.slideRight-exit{
   opacity: 1;
   transform: translateX(0px);
}
.slideRight-enter-active{
   opacity: 1;
   transform: translateX(0px);
}
.slideRight-exit-active{
   opacity: 0;
   transform: translateX(-10px);
}
.slideRight-enter-active,
.slideRight-exit-active{
   transition: opacity 400ms ease-out, transform 400ms ease-out;
}